# Default values for nginx-chart.
########################
# Global Configuration #
########################
global:
  env: "production"
######################
# Pods Configuration #
######################
components:
  api:
    name: "payment-api"
    enabled: true
    image:
      repository: "paymentappacr.azurecr.io/payment-api"
      tag: "1.0.0"
      pullPolicy: "IfNotPresent"
    containerPort: 8080
    servicePort: 8080
    replicaCount: 2
    autoscaling:
      enabled: true
      minReplicas: 2
      maxReplicas: 10
      targetCPU: 80
    probes:
      liveness:
        initialDelaySeconds: 5  
        periodSeconds: 10    
        failureThreshold: 3   
      readiness:
        initialDelaySeconds: 5
        periodSeconds: 10
        failureThreshold: 3
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "500m"
        memory: "256Mi"

  worker:
    name: "payment-worker"
    enabled: true
    image:
      repository: "paymentappacr.azurecr.io/payment-worker"
      tag: "1.0.0"
      pullPolicy: "IfNotPresent"
    containerPort: 8090
    servicePort: 8090
    replicaCount: 1
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 5
      targetCPU: 80
    probes:
      liveness:
        initialDelaySeconds: 5  
        periodSeconds: 10    
        failureThreshold: 3   
      readiness:
        initialDelaySeconds: 5
        periodSeconds: 10
        failureThreshold: 3
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "500m"
        memory: "256Mi"

#########################
# Service Configuration #
#########################
service:
  name: nginx-lb
  type: LoadBalancer
  port: 80
  targetPort: 80
  protocol: TCP

#########################
# Ingress Configuration #
#########################
ingress:
  enabled: true
  className: "nginx"
  host: payment.paymentapp.com  
############################
# Postgresql Configuration #
############################
db:
  host: "postgres-svc"
  port: "5432"
  name: "paymentdb"
########################
# Secret Configuration #
########################
secrets:
  dbUser: "pgadmin"
  dbPassword: "password"
###########################
# NetPolicy Configuration #
###########################
networkPolicy:
  enabled: true
  externalDbCidr: "0.0.0.0/0"
# Azure Configuration #
azure:
  enabled: true      
  keyvaultName: "paymentapp-kv"
  tenantId: "cda9a1f6-c3a2-40f6-a425-89316170fa38"
  clientId: "87da2783-6855-42fa-b9da-a8a031c43088"