# Default values for nginx-chart.
########################
# Global Configuration #
########################
global:
  env: "production"
######################
# Pods Configuration #
######################
components:
  api:
    name: "payment-api"
    enabled: true
    image:
      repository: "paymentappacr.azurecr.io/payment-api"
      tag: "1.0.0"
    containerPort: 8080
    servicePort: 8080
    replicaCount: 2
    autoscaling:
      enabled: true
      minReplicas: 2
      maxReplicas: 10
      targetCPU: 80

  worker:
    name: "payment-worker"
    enabled: true
    image:
      repository: "paymentappacr.azurecr.io/payment-worker"
      tag: "1.0.0"
    containerPort: 8090
    servicePort: 8090
    replicaCount: 1
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 5
      targetCPU: 80

probes:
  liveness:
    enabled: true
    initialDelaySeconds: 5  
    periodSeconds: 10    
    failureThreshold: 3   
  readiness:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    failureThreshold: 3

#########################
# Service Configuration #
#########################
service:
  name: nginx-lb
  type: LoadBalancer
  port: 80
  targetPort: 80
  protocol: TCP


#############################
# Application Configuration #
#############################
auth:
  htpasswd: "myuser:$apr1$TT45Jk0H$Kr58cbKgspL1pkYIO7F2S/"

website:
  indexHtml: |
    <!DOCTYPE html>
    <html><body>
    <h1>Hello from Helm2!</h1>
    </body></html>

nginxConfig:
  conf: |
    events { worker_connections 1024; }
    http {
        server {
            listen 80;
            auth_basic "Restricted Access";
            auth_basic_user_file /etc/nginx/auth/.htpasswd;
            location / {
                root /usr/share/nginx/html;
                index index.html;
            }
        }
    }
#########################
# Ingress Configuration #
#########################
ingress:
  enabled: true
  className: "nginx"
  host: payment.paymentapp.com  
############################
# Postgresql Configuration #
############################
externalDB:
  enabled: true
  host: "localhost"
  port: 5432
  internalName: "postgres-svc"
########################
# Secret Configuration #
########################
secrets:
  dbUser: "pgadmin"
  dbPassword: "password"