apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    events { worker_connections 1024; }
    http {
        server {
            listen 80;
            # Basic Auth Setup
            auth_basic "Restricted Access";
            auth_basic_user_file /etc/nginx/auth/.htpasswd;
            
            location / {
                root /usr/share/nginx/html;
                index index.html;
            }
        }
    }