apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: ghcr.io/gadom654
    chart: nginx-chart
    targetRevision: "*"
  destination:
    server: https://kubernetes.default.svc
    namespace: nginx-app      
  syncPolicy:
    automated:
      prune: true   
      selfHeal: true  
    syncOptions:
      - CreateNamespace=true
