apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: aws-ssm-payment-app
  namespace: {{ .Release.Namespace }}
spec:
  provider: aws
  secretObjects:                
  - secretName: payment-app-secrets # This creates a native K8s secret
    type: Opaque
    data: 
    - objectName: db-password        # Matches objectAlias below
      key: PAYMENT_DB_PASSWORD 
    - objectName: db-user
      key: PAYMENT_DB_USER
  parameters:
    objects: |
      - objectName: "paymentapp-db-password" # The name in AWS SSM
        objectType: "ssmparameter"           # Changed from secretsmanager
        objectAlias: "db-password"
      - objectName: "paymentapp-db-username"
        objectType: "ssmparameter"
        objectAlias: "db-user"