name: Build and Push to ECR

on:
  workflow_call:
    inputs:
      working_directory:
        required: false
        type: string
        default: "."
        description: "Path to the Terraform code"
      region:
        required: false
        type: string
        default: "eu-north-1"
      environment:
        required: false
        type: string
        default: "DOCKER"
        description: "GitHub Environment for Plan stage"
      repository:
        required: true
        type: string
        default: "hello-api-repo"
        description: "ECR Repository Name"
    secrets:
      aws_role:
        required: true
        description: "AWS Role ARN to assume"

permissions:
      id-token: write 
      contents: read 

jobs:
  docker:
    name: "Docker CI/CD pipeline"
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    environment: ${{ inputs.environment }}
    env:
      aws_role: ${{ secrets.aws_role }}
      region: ${{ inputs.region }}
      repository: ${{ inputs.repository }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.aws_role }}
          aws-region: ${{ env.region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push Image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ env.repository }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          # Build the docker container
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest .
          
          # Push to ECR
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest