name: "AWS Terraform CI/CD plan pipeline"

on:
  workflow_call:
    inputs:
      working_directory:
        required: false
        type: string
        default: "."
        description: "Path to the Terraform code"
      aws_role:
        required: true
        type: string
        default: "arn:aws:iam::<YOUR_ACCOUNT_ID>:role/github-actions-ecs-role"
      region:
        required: false
        type: string
        default: "eu-north-1"
      environment:
        required: false
        type: string
        default: "AWS_PLAN"
        description: "GitHub Environment for Plan stage"


permissions:
      id-token: write 
      contents: read 

jobs:
  plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    environment: ${{ inputs.environment }}
    env:
      aws_role: ${{ inputs.aws_role }}
      region: ${{ inputs.region }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.aws_role }}
          aws-region: ${{ env.region }}
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Init (Child Modules Only)
        run: terraform init -backend=false 

      - name: Terraform Validate
        run: terraform validate

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Run TFLint
        run: |
          tflint --init
          tflint -f compact
      
      - name: Terraform Plan
        run: terraform plan -out=main.tfplan

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: ${{ inputs.working_directory }}/main.tfplan