name: "AWS Terraform CI/CD destroy pipeline"

on:
  workflow_call:
    inputs:
      working_directory:
        required: false
        type: string
        default: "."
        description: "Path to the Terraform code"
      aws_plan_role:
        required: true
        type: string
        default: "arn:aws:iam::<YOUR_ACCOUNT_ID>:role/github-actions-ecs-role"
      region:
        required: false
        type: string
        default: "eu-north-1"
      environment:
        required: false
        type: string
        default: "AWS_DESTROY"
        description: "GitHub Environment for Plan stage"



permissions:
      id-token: write 
      contents: read 

jobs:
  destroy:
    name: "Terraform Destroy"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    environment: ${{ inputs.environment }}
    env:
      aws_plan_role: ${{ inputs.aws_plan_role }}
      region: ${{ inputs.region }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.aws_plan_role }}
          aws-region: ${{ env.region }}
      
      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform destroy -auto-approve