name: Payment App - Terraform and docker build pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'paymentApp/**' 

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  infra:
    uses: gadom654/Academy_Deployment/.github/workflows/terraform-pipeline.yml@main
    with:
      working_directory: "./paymentApp"
      arm_subscription_id: ${{ vars.ARM_SUBSCRIPTION_ID }}
      arm_tenant_id: ${{ vars.ARM_TENANT_ID }}
      arm_client_id_plan: ${{ vars.ARM_CLIENT_ID_PLAN }}
    secrets:
      ARM_CLIENT_ID_APPLY: ${{ secrets.ARM_CLIENT_ID_APPLY }}
  docker:
    needs: infra  
    uses: gadom654/Academy_Deployment/.github/workflows/docker-publish.yml@main
    with:
      image_name: "payment-api"
      acr_name: "paymentappacr"
      working_directory: "./paymentApp"
      dockerfile_path: "code/payment-api/Dockerfile.api"
      build_context: "code/payment-api/"
      environment: "production"
      arm_tenant_id: ${{ vars.ARM_TENANT_ID }}
      arm_subscription_id: ${{ vars.ARM_SUBSCRIPTION_ID }}
    secrets:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID_APPLY }}  
  docker2:
    needs: infra  
    uses: gadom654/Academy_Deployment/.github/workflows/docker-publish.yml@main
    with:
      image_name: "payment-worker"
      acr_name: "paymentappacr"
      working_directory: "./paymentApp"
      dockerfile_path: "code/payment-worker/Dockerfile.worker"
      build_context: "code/payment-worker/"
      environment: "production"
      arm_tenant_id: ${{ vars.ARM_TENANT_ID }}
      arm_subscription_id: ${{ vars.ARM_SUBSCRIPTION_ID }}
    secrets:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID_APPLY }}  
  