name: Payment App - Build & Push

on:
  push:
    branches: [ "main" ]
    paths:
      - 'paymentApp/**' 

env:
  ACR_NAME: paymentappacr
  API_IMAGE_NAME: payment-api
  WORKER_IMAGE_NAME: payment-worker
  PROJECT_PATH: './paymentApp'

jobs:
  # STEP 1: Init and Lint
  init_and_lint:
    name: init_and_lint
    permissions:
      contents: read
      security-events: write

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./paymentApp
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Init (Child Modules Only)
        run: terraform init -backend=false 

      - name: Terraform Validate
        run: terraform validate

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Run TFLint
        run: |
          tflint --init
          tflint -f compact

  # STEP 2: Terraform Plan (Using Planer Principal)
  plan:
    name: "Terraform Plan"
    needs: init_and_lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    defaults:
      run:
        working-directory: ./paymentApp
    environment: plan
    env:
      ARM_CLIENT_ID: ${{ vars.ARM_CLIENT_ID_PLAN }}
      ARM_TENANT_ID: ${{ vars.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ vars.ARM_SUBSCRIPTION_ID }}
      ARM_USE_OIDC: true
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ env.ARM_CLIENT_ID }}
          tenant-id: ${{ env.ARM_TENANT_ID }}
          subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=main.tfplan

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: main.tfplan

  # STEP 3: Terraform Apply (Using Applyer Principal)
  apply:
    name: "Terraform Apply"
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: plan
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      security-events: write
    defaults:
      run:
        working-directory: ./paymentApp
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID_APPLY }}
      ARM_TENANT_ID: ${{ vars.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ vars.ARM_SUBSCRIPTION_ID }}
      ARM_USE_OIDC: true
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Download Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ env.ARM_CLIENT_ID }}
          tenant-id: ${{ env.ARM_TENANT_ID }}
          subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve main.tfplan

  build-push_image:
    runs-on: ubuntu-latest
    environment: production
    needs: apply
    defaults:
      run:
        working-directory: ./paymentApp
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID_APPLY }}
      ARM_TENANT_ID: ${{ vars.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ vars.ARM_SUBSCRIPTION_ID }}
      ARM_USE_OIDC: true
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Extract payment API image Version from Dockerfile
        id: get_version
        run: |
          VERSION=$(grep 'LABEL version=' Dockerfile | cut -d'"' -f2)
          echo "API_APP_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build Docker Image
        run: docker build -f code/${{ env.API_IMAGE_NAME }}/Dockerfile.api -t ${{ env.API_IMAGE_NAME }}:${{ env.API_APP_VERSION }} .code/${{ env.API_IMAGE_NAME }}/

      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ env.API_IMAGE_NAME }}:${{ env.API_APP_VERSION }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL'

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ env.ARM_CLIENT_ID }}
          tenant-id: ${{ env.ARM_TENANT_ID }}
          subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Login to ACR
        run: az acr login --name ${{ env.ACR_NAME }}

      - name: Push to Azure Container Registry
        run: |
          docker tag ${{ env.API_IMAGE_NAME }}:${{ env.API_APP_VERSION }} ${{ env.ACR_NAME }}.azurecr.io/${{ env.API_IMAGE_NAME }}:${{ env.API_APP_VERSION }}
          docker push ${{ env.ACR_NAME }}.azurecr.io/${{ env.API_IMAGE_NAME }}:${{ env.API_APP_VERSION }}