name: ECS App - Terraform

on:
  push:
    paths:
      - 'AWS/ECSapp/**' 

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  plan:
    uses: Gadom654/Academy_Deployment/.github/workflows/AWS-terraform-plan.yml@main
    with:
      working_directory: "./AWS/ECSapp/terraform"
      aws_role: ${{ secrets.AWS_PLAN_ROLE }}
  apply:
    needs: plan  
    uses: Gadom654/Academy_Deployment/.github/workflows/AWS-terraform-apply.yml@main
    with:
      working_directory: "./AWS/ECSapp/terraform"
      aws_role: ${{ secrets.AWS_APPLY_ROLE }} 
  destroy:  
    uses: Gadom654/Academy_Deployment/.github/workflows/AWS-terraform-destroy.yml@main
    with:
      working_directory: "./AWS/ECSapp/terraform"
      aws_role: ${{ secrets.AWS_APPLY_ROLE }}