name: Payment helm push

on:
  push:
    paths:
      - 'AWS/paymentApp/helm/**' 

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  helm: 
    uses: Gadom654/Academy_Deployment/.github/workflows/AWS-helm.yml@main
    with:
      working_directory: "./AWS/paymentApp/helm"
      repository: "payment-chart"
    secrets:
      aws_role: ${{ secrets.AWS_APPLY_ROLE }}
  deploy:
    needs: helm
    uses: Gadom654/Academy_Deployment/.github/workflows/AWS-deploy-to-k8s.yml@main
    with:
      environment: "AWS_APPLY"
      working_directory: "./AWS/paymentApp/helm"
      repository: "payment-chart"
      cluster_name: "paymentapp-prod-platform-cluster"
      version: "1.0.11"
    secrets:
      aws_role: ${{ secrets.AWS_APPLY_ROLE }}
      VPN_CONFIG: ${{ secrets.VPN_CONFIG }}