name: "Therraform CI/CD Pipeline"

on:
  workflow_call:
    inputs:
      working_directory:
        required: false
        type: string
        default: "."
        description: "Path to the Terraform code"
      environment_plan:
        required: false
        type: string
        default: "plan"
        description: "GitHub Environment for Plan stage"
      environment_apply:
        required: false
        type: string
        default: "production"
        description: "GitHub Environment for Apply stage"
      arm_subscription_id:
        required: true
        type: string
      arm_tenant_id:
        required: true
        type: string
      arm_client_id_plan:
        required: true
        type: string
        description: "Client ID for the Planer Principal"
    secrets:
      ARM_CLIENT_ID_APPLY:
        required: true
        description: "Client ID for the Applyer Principal"

permissions:
  id-token: write
  contents: read

jobs:
  # STEP 1: Init and Lint
  init_and_lint:
    name: init_and_lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Init (Child Modules Only)
        run: terraform init -backend=false 

      - name: Terraform Validate
        run: terraform validate

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Run TFLint
        run: |
          tflint --init
          tflint -f compact

  # STEP 2: Terraform Plan
  plan:
    name: "Terraform Plan"
    needs: init_and_lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    environment: ${{ inputs.environment_plan }}
    env:
      ARM_CLIENT_ID: ${{ inputs.arm_client_id_plan }}
      ARM_TENANT_ID: ${{ inputs.arm_tenant_id }}
      ARM_SUBSCRIPTION_ID: ${{ inputs.arm_subscription_id }}
      ARM_USE_OIDC: true
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ env.ARM_CLIENT_ID }}
          tenant-id: ${{ env.ARM_TENANT_ID }}
          subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=main.tfplan

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: ${{ inputs.working_directory }}/main.tfplan

  # STEP 3: Terraform Apply (Using Applyer Principal)
  apply:
    name: "Terraform Apply"
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: plan
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    environment: ${{ inputs.environment_apply }}
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID_APPLY }}
      ARM_TENANT_ID: ${{ inputs.arm_tenant_id }}
      ARM_SUBSCRIPTION_ID: ${{ inputs.arm_subscription_id }}
      TF_VAR_GITHUB_ACCESS_TOKEN: ${{ secrets.TF_VAR_GITHUB_ACCESS_TOKEN }}
      ARM_USE_OIDC: true
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Download Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: ${{ inputs.working_directory }}

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ env.ARM_CLIENT_ID }}
          tenant-id: ${{ env.ARM_TENANT_ID }}
          subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve main.tfplan